*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 2, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .Age_Calculator{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .Age_Calculator h1{
    color: white;
    text-shadow: 1px 2px 5px aqua;
}
.container .Age_Calculator .calculator{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .Age_Calculator .calculator .top{
    width: 100%;
    height: 60%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .Age_Calculator .calculator .top .clinder{
    width: 70%;
    height: 30%;
    display: flex;
}
.container .Age_Calculator .calculator .top .clinder input{
    width: 70%;
    height: 80%;
    font-size: 20px;
    font-style:italic;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    padding: 10px;
    margin: 10px;
    background-color: transparent;
    cursor: pointer;
}
.container .Age_Calculator .calculator .top .clinder  button{
    width: 30%;
    height: 80%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 20px; 
    cursor: pointer;
    transition: 0.5s;
}
.container .Age_Calculator .calculator .top .clinder  button:hover{
    background-color: white;
    /* border: 1px solid blue; */
    color: blue;
}
.container .Age_Calculator .calculator .bottom{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.container .Age_Calculator .calculator .bottom div{
    width: 20%;
    height: 50%;
    background-color: transparent;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.container .Age_Calculator .calculator .bottom div:hover{
    background-color: white;
    border: none;
    color: black;
}
.container .Age_Calculator .calculator .bottom div:hover p,.container .Age_Calculator .calculator .bottom div:hover span{

    color: black;
}
.container .Age_Calculator .calculator .bottom div p{
    font-size: 30px;
    color: white;
    font-weight: 700;
    padding: 10px;
}
.container .Age_Calculator .calculator .bottom div span{
    color: white;
}