*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(5, 5, 77);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    text-shadow: 1px 2px 5px white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container .clock{
    width: 40%;
    height: 30%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 2px 3px 2px rgb(124, 120, 120);
}
.container .clock div{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .clock div p{
    font-size: 2.5em;
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 3px 5px rgb(144, 144, 146);
}
.container .clock div span{
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
@media screen And (max-width:900px){
    .container h1{
        font-size: 30px;
    }
    .container .clock div{
        margin: 10px;
    }
    .container .clock{
        padding: 20px;
    }
}
